.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.material-symbols-outlined {
  vertical-align: middle;
  font-size: 30px;
}

body {
  background-color: rgba(244, 235, 232, 0.9);
  font-family: "Instrument Serif", serif;

  background-repeat: no-repeat;
  background-position: center;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/174/883/original/51RXJ9Ga-gL._AC_SL1000_.jpg?1760535459");
  background-size: cover;
  background-blend-mode: lighten;
  background-color: rgba(244, 235, 232, 0.9);
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
  color: #5e0b15;
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  font-weight: bold;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-style: italic;
  color: #bc8034;
  border-color: #bc8034;
  opacity: 0.9;
  background-color: rgba(255, 255, 255, 0.8);
}
h2 {
  margin-bottom: 5px;
  font-size: 28px;
  color: #5e0b15;
}

.your-location {
  background-color: transparent;
  border: none;
  color: #bc8034;
  position: relative;
  right: -520px;
  top: -65px;
  cursor: pointer;
}
#pin {
  font-size: 40px;
}
#display-your-location {
  display: none;
}
.display-city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 15px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}
.display-city:last-child {
  border: none;
}
.date {
  font-size: 18px;
  margin-top: 0px;
  opacity: 0.9;
  color: #8c7a6b;
}
.time {
  font-size: 36px;
  font-weight: bold;
  color: #90323d;
}
.time small {
  font-size: 18px;
  vertical-align: middle;
  line-height: 1.5;
}
footer {
  text-align: center;
  margin-top: 50px;
  color: #8c7a6b;
  font-family: "Courier New", Courier, monospace;
}
.foot-link {
  color: #bc8034;
}
